DATABASE_URL=postgresql://neondb_owner:npg_PTMUN3x8LQSy@ep-polished-dawn-axooh9fp-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="delix_secret"
PORT=5000
HOST=0.0.0.0
